main {
    justify-content: center;
    align-items: center;
    background: linear-gradient(bisque, lightgrey);
    margin: 0;
    width: 100vw;
}
.carouselContainer{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    max-height: 700px;
    overflow: hidden;
}
.carousel {
    width:640px;
    height:360px;
  }
.chevron {
    height: 40px;
    font-weight: 600;
    margin: 10px;
    opacity: .4;
}
.chevron:hover{
    cursor: pointer;
    opacity: 1;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }