main {
    justify-content: center;
    align-items: center;
    background: linear-gradient(bisque, lightgrey);
}
.carouselContainer{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel {
    width:640px;
    height:360px;
  }
.chevron {
    height: 40px;
    font-weight: 600;
    margin: 10px;
    opacity: .4;
}