.buttonContainer{
    display: flex;
    flex: 1;
    width: 25vw;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    color: goldenrod;
}
main{
    background: linear-gradient(bisque, lightgrey);
}