.memoriesContainer {
display: flex;
justify-content: center;
}
.memoryPage {
    box-sizing: border-box;
    height: 80vh;
    width: 50vw;
    background-image: url('../../assets/background-images/old-sheet-of-paper-1427188.jpg');
    background-size: cover;
    padding: 25px;
    
}
.content {
    overflow: auto;
    height: 100%;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.sideContainerLeft{
    width: 25vw;
    height: 80vh;
    background: linear-gradient(to right, goldenrod, white);
    display: flex;
    justify-content: end;
    align-items: center;
}
.sideContainerRight{
    width: 25vw;
    height: 80vh;
    background: linear-gradient(to right, white, goldenrod);
    display: flex;
    justify-content: start;
    align-items: center;
}
.chevron {
    height: 40px;
    font-weight: 600;
    margin: 10px;
    opacity: .4;
}
.chevron:hover{
    cursor: pointer;
    opacity: 1;
}