.linkContainer{
width: 20%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.imageContainer{
width: 60%;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(goldenrod, lightgrey);}
img {
    height: 100%;
    width: 450px;
}